{% extends 'base.html' %}
{% block title %} Delete Page {% endblock%}
{% block content %}

<br/>
<div class="form-group container">
    <h3>Delete</h3>
    <form method="POST">
        {% csrf_token %}
        <strong>He thlalak {{ post.title }} tih hi i delete duh tih i chiang maw</strong>
        <hr/>
        <button class="btn btn-secondary" style="float: left;" class="btn btn-info">AW!</button>
        <button class="btn btn-secondary" style="float: right;" class="btn btn-success"><a href="{%url 'home' %}"
        style="text-decoration: none; color: white;">AIH</a></button>

    </form>
</div>

{% endblock %}
